name: Build docset
on:
  push:
    branches: [main]
jobs:
  build:
    env:
      PYTORCH_VERSION: "2.6.0"
      UV_SYSTEM_PYTHON: 1
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Checkout pytorch
        uses: actions/checkout@v4
        with:
          repository: pytorch/pytorch
          ref: v${{ env.PYTORCH_VERSION }}
          path: pytorch
      - name: Configure Python dependencies
        # Remove the editable install -e flag from the requirements.txt file:
        # uv doesn't support it and it is not needed anyway.
        run: |
          cp pytorch/.ci/docker/requirements-ci.txt requirements.txt
          sed 's/^-e //' pytorch/.ci/docker/requirements-docs.txt >> requirements.txt
          >> requirements.txt cat << EOF
          torch==${{ env.PYTORCH_VERSION }}
          doc2dash==3.1.0
          EOF
          cat requirements.txt
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.10"
          enable-cache: true
          cache-dependency-glob: "requirements.txt"
      - name: Install python dependencies
        run: uv pip install -r requirements.txt
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install KaTeX
        run: npm install --global katex
      - name: Install ImageMagick
        run: sudo apt-get update && sudo apt-get -y install imagemagick
      - name: Compile docset
        env:
          SPHINXOPTS: "-j auto -WT"
        run: |
          make -C pytorch/docs docset
          mkdir output
          mv pytorch/docs/PyTorch.docset output
      - name: Upload docset
        uses: actions/upload-artifact@v4
        with:
          name: pytorch-docset
          path: output
          if-no-files-found: error
